**/target/
**/project/
app/node_modules/
app/npm-debug.log
app/package-lock.json

**/sandbox/

THESIS/**/*.aux
THESIS/**/*.fdb_latexmk
THESIS/**/*.fls
THESIS/**/*.log
THESIS/**/*.gz
THESIS/**/*.toc
THESIS/**/*.bbl
THESIS/**/*.blg
THESIS/**/*.idx
THESIS/**/*.ilg
THESIS/**/*.ind
THESIS/**/*.loa
THESIS/**/*.lof
THESIS/**/*.lot
THESIS/**/*.out
