body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: lightgrey;
  text-align: center;
}

#canvas {
  width: 70%;
}

header {
  width: 100%;
  height: 20%;
  padding: 10pt;
  padding-left: 0;
  padding-right: 0;
  background-color: dodgerblue;
  text-align: center;
}

header span {
  margin: 5pt;
}
