html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: lightgrey;
  text-align: center;
}

#content {
  margin: 0;
}

#display {
  width: 70%;
  height: 80%;
  background-color: white;
}

header {
  width: 100%;
  height: 10%;
  padding: 10pt;
  padding-left: 0;
  padding-right: 0;
  background-color: forestGreen;
  text-align: center;
}

header span {
  margin: 5pt;
}

main {
  height: 85%;
}

#message {
  height: 10%;
  margin: 0;
}
