/*******************************************************************************
      PRIMARY CONTENT
*******************************************************************************/

html {
  height: 100%;
  font-family: sans-serif;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: lightgrey;
  text-align: center;
}

header {
  height: 10%;
  width: 100%;
  padding: 0;
  overflow: auto;
  background-color: forestGreen;
  text-align: center;
}

header h1 {
  color: white;
  font-size: 35pt;
  margin: 0;
  margin-left: 10pt;
}

main {
  height: 85%;
  overflow: auto;
}

h1.sidebar {
  color: black;
  text-decoration: underline;
}

h2.sidebar {
  margin-left: 15pt;
  font-size: 15pt;
  color: black;
  text-align: left;
}

footer {
  height: 5%;
  width: 100%;
}


/*******************************************************************************
      HOME PAGE
*******************************************************************************/
#home-page {
  margin: 2%;
  margin-bottom: 0;
  padding: 2%;
  height: 90%;
  width: 92%;
  background-color: grey;
  border-radius: 6pt;
}

#home-title {
  margin: 2%;
  margin-bottom: 4%;
  height: 6%;
  width: 96%;
  font-size: 30pt;
}

#home-content {
  margin-left: 2%;
  margin-right: 2%;
  height: 75%;
  width: 96%;
  text-align: center;
  font-size: 18pt;
}

#basic-inputs {
  margin-bottom: 3%;
}

input.basic-input {
  margin-right: 2%;
  padding: 2pt;
  font-size: 14pt;
  border: 2px solid black;
  border-radius: 4px;
}

input.custom-input {
  margin: 1%;
  margin-top: 0%;
  padding: 2pt;
  font-size: 14pt;
  border: 2px solid black;
  border-radius: 4px;
}

#submit-buttons {
  margin-left: 2%;
  margin-right: 2%;
  height: 10%;
  width: 96%;
  text-align: center;
}

button.submit-button {
  margin-left: 10%;
  margin-right: 10%;
  padding: 16px 31px;
	background-color: forestGreen;
	border-radius: 28px;
	border: 2px solid black;
	display: inline-block;
	cursor: pointer;
	color: white;
	font-weight: bold;
}


/*******************************************************************************
      CUSTOM INPUT FORM
*******************************************************************************/
#custom-inputs {

}

#element-selection-list {
  margin: 10pt;
  margin-left: 33%;
  list-style: none;
  vertical-align: baseline;
  text-align: left;
}


/*******************************************************************************
      NAVIGATION BAR
*******************************************************************************/

#navigation {
  margin: 2%;
  height: 16%;
  width: 96%;
  background-color: grey;
  border-radius: 6pt;
  text-align: center;
}

#new-environment {
  margin-top: 3%;
}

/*******************************************************************************
      VISUALIZER DISPLAY
*******************************************************************************/

#display {
  height: 76%;
  width: 50%;
  float: left;
  text-align: center;
  background-color: white;
}

rect.display-cell:hover {
  fill-opacity: .4;
  cursor: pointer;
}

/*******************************************************************************
      CONTROL TOOLBAR
*******************************************************************************/

#toolbar {
  height: 76%;
  width: 21%;
  margin-left: 2%;
  margin-right: 2%;
  float: left;
  background-color: grey;
  border-radius: 6pt;
}

#layer-toggles {
  margin-left: 15pt;
  text-align: left;
}

#layer-selector {
  margin-left: 15pt;
  text-align: left;
}

/*******************************************************************************
      LEGEND
*******************************************************************************/

#legend {
  height: 76%;
  max-height: 76%;
  width: 21%;
  margin-left: 2%;
  margin-right: 2%;
  padding: 0;
  float: left;
  background-color: grey;
  border-radius: 6pt;
  word-wrap: break-word;
  overflow: hidden;
}

#cell-table {
  padding-bottom: 5%;
  overflow: auto;
}

table.legend-table {
  table-layout: fixed;
  margin: 0;
  padding-left: 10pt;
  text-align: left;
  color: white;
}


tr.legend-cell-row {
  max-width: 100%;
}

td.legend-table-name {
  color: #D6D6D6;
  font-weight: bold;
}

td.legend-table-value {
  color: white;
}

table.legend-cell-table {
  overflow: scroll;
  margin: 0;
  padding-left: 10pt;
  padding-right: 10pt;
  text-align: left;
  color: white;
}

/*******************************************************************************
      STYLING FOR TOGGLE SWITCHES
*******************************************************************************/

.switch {
  display: inline-block;
  height: 17pt;
  position: relative;
  width: 30pt;
  margin-bottom: 5pt;
}

.switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 2pt;
  content: "";
  height: 13pt;
  left: 2pt;
  position: absolute;
  transition: .4s;
  width: 13pt;
}

input:checked + .slider {
  background-color: forestgreen;
}

input:checked + .slider:before {
  transform: translateX(13pt);
}

.slider.round {
  border-radius: 17pt;
}

.slider.round:before {
  border-radius: 50%;
}

.container {
  margin: 0 auto;
}

.toggle-text {
  position: relative;
  left: 35pt;
  top: 0.5pt;
  font-size: 15pt;
  color: #b3b3b3;
}


/*******************************************************************************
    STYLING FOR RADIO BUTTONS
*******************************************************************************/

.inline{
  display: inline-block;
}
.radio{
  color:#b3b3b3;
  font-size:15pt;
  position:relative;
}
.radio span{
  position:relative;
  padding-left:20pt;
}
.radio span:after{
  content:'';
  width:15pt;
  height:15pt;
  border:2pt solid;
  position:absolute;
  left:0;
  top:1pt;
  border-radius:100%;
  -ms-border-radius:100%;
  -moz-border-radius:100%;
  -webkit-border-radius:100%;
  box-sizing:border-box;
  -ms-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}
.radio input[type="radio"]{
  cursor: pointer;
  position: absolute;
  width:100%;
  height:100%;
  z-index: 1;
  opacity: 0;
}
.radio input[type="radio"]:checked + span{
  color: black;
}
.radio input[type="radio"]:checked + span:before{
  content:'';
  width:15pt;
  height:15pt;
  position:absolute;
  background: forestgreen;
  left:0pt;
  top:1pt;
  border-radius:100%;
  -ms-border-radius:100%;
  -moz-border-radius:100%;
  -webkit-border-radius:100%;
}
